---
import Loading from "../components/Loading.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>hiroto kanzaki</title>
  </head>
  <body>
    <Loading />
    <Header />
    <div class="mx-auto text-center px-3 md:w-150">
      <img class="md:rounded" src="/profile.png" />
      <p class="mt-8 text-zinc-600 font-serif text-base/8">
        hiroto kanzaki<br />
        composer / drummer
      </p>
      <p class="mt-8 text-zinc-600 font-serif text-xs/7.5">
        東京都在住の音楽プロデューサー・コンポーザー。<br />
        これまでに独自の感性と深いメロディラインを武器に、<br />
        多くの楽曲を生み出してきました。
      </p>
    </div>
  </body>
  <div class="my-16 border-none text-center text-zinc-400 font-serif text-xs">
    |
  </div>
  <div class="px-4 container mx-auto space-y-3">
    <h1 class="my-8 text-zinc-600 font-serif text-center text-lg">works</h1>
    <article class="mx-auto w-fit px-10">
      <a
        href="https://youtu.be/fbxSF_A7pCw"
        class="hover:opacity-80 hover:underline decoration-zinc-600/80"
      >
        <div class="flex gap-2">
          <div class="w-1/2 md:max-w-80">
            <img src="/hitominosakini-1.webp" />
          </div>
          <div class="w-1/2 md:max-w-80">
            <img src="/hitominosakini-2.webp" />
          </div>
        </div>
        <p class="my-5 font-serif text-center text-sm text-zinc-600">
          瞳の先に
        </p>
      </a>
    </article>
    <article class="mx-auto w-fit px-10">
      <a
        href="https://youtu.be/BwrcKP5HUT4"
        class="hover:opacity-80 hover:underline decoration-zinc-600/80"
      >
        <div class="flex gap-2">
          <div class="w-full md:max-w-160">
            <img src="/utatane.webp" />
          </div>
        </div>
        <p class="my-5 font-serif text-center text-sm text-zinc-600">
          うたたね
        </p>
      </a>
    </article>
    <article class="mx-auto w-fit px-10">
      <a
        href="https://youtu.be/XHCkPFfkTdc"
        class="hover:opacity-80 hover:underline decoration-zinc-600/80"
      >
        <div class="flex gap-2">
          <div class="w-full md:max-w-160">
            <img src="/yumehanabi.webp" />
          </div>
        </div>
        <p class="my-5 font-serif text-center text-sm text-zinc-600">夢花火</p>
      </a>
    </article>
    <Footer />
  </div>
</html>
