---
import Loading from "../components/Loading.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>news - hiroto kanzaki</title>
  </head>
  <body>
    <Loading />
    <Header />
    <h1 class="my-10 font-serif text-xl text-center text-zinc-600">news</h1>
    <main class="container mx-auto">
      <div class="grid grid-cols-1 gap-20 p-10 sm:grid-cols-2">
        <article class="sm:max-w-120">
          <h2 class="font-serif text-zinc-800">M3 出展のお知らせ</h2>
          <h3 class="mt-1 text-zinc-500 text-sm">2026.04.14</h3>
          <a href="https://catalog.m3net.jp/2026s/" class="hover:opacity-80">
            <img class="mt-2 rounded w-full" src="/news/m3-2026s.png" /></a
          >
          <p class="mt-5 text-zinc-800 font-serif text-base/relaxed">
            この度、音系同人イベント「M3」に出展いたします。<br />
            当日はこれまでに制作した作品を中心に頒布予定です。<br />
            ぜひお気軽にお立ち寄りください。
          </p>
        </article>
        <article class="sm:max-w-120">
          <h2 class="font-serif text-zinc-800">「つなぐ空間劇2026」</h2>
          <h3 class="mt-1 text-zinc-500 text-sm">2026.03.12</h3>
          <a
            href="https://tsunagubunka.tokyo/archives/128"
            class="hover:opacity-80"
          >
            <img class="mt-2 rounded w-full" src="/news/tsunagubunka.jpg" /></a
          >
          <p class="mt-5 text-zinc-800 font-serif text-base/relaxed">
            つなぐ文化振興団による「つなぐ空間劇2026」にて、劇伴を担当させていただくことになりました！
            <br />
            物語の世界を音楽で彩り、未来へつなぐお手伝いをします。2つの異なる物語にどんな音を添えるか、今から楽しみです。
            <br />
            6/27はぜひ秋葉原、または配信で！
          </p>
        </article>
      </div>
    </main>
    <Footer />
  </body>
</html>
