---
import Loading from "../components/Loading.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>works - hiroto kanzaki</title>
  </head>
  <body>
    <Loading />
    <Header />
    <h1 class="my-10 font-serif text-xl text-center text-zinc-600">works</h1>
    <main class="space-y-14">
      <article>
        <div class="flex gap-2 justify-center">
          <div class="w-2/5 md:max-w-80">
            <a href="https://youtu.be/fbxSF_A7pCw">
              <img src="/hitominosakini-1.webp" />
            </a>
          </div>
          <div class="w-2/5 md:max-w-80">
            <a href="https://youtu.be/fbxSF_A7pCw">
              <img src="/hitominosakini-2.webp" />
            </a>
          </div>
        </div>
        <p class="my-5 font-serif text-center text-sm text-zinc-600">
          <a href="https://youtu.be/fbxSF_A7pCw">瞳の先に</a>
        </p>
      </article>
      <article>
        <div class="flex gap-2 justify-center">
          <div class="w-4/5 md:max-w-160">
            <a href="https://youtu.be/BwrcKP5HUT4"
              ><img src="/utatane.webp" /></a
            >
          </div>
        </div>
        <p class="my-5 font-serif text-center text-sm text-zinc-600">
          <a href="https://youtu.be/BwrcKP5HUT4">うたたね</a>
        </p>
      </article>
      <article>
        <div class="flex gap-2 justify-center">
          <div class="w-4/5 md:max-w-160">
            <a href="https://youtu.be/XHCkPFfkTdc">
              <img src="/yumehanabi.webp" />
            </a>
          </div>
        </div>
        <p class="my-5 font-serif text-center text-sm text-zinc-600">
          <a href="https://youtu.be/XHCkPFfkTdc">夢花火</a>
        </p>
      </article>
    </main>
    <Footer />
  </body>
</html>
