---
import Loading from "../components/Loading.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { Icon } from "astro-icon/components";

const subs = [
  {
    icon: "fa6-brands:itunes",
    href: "https://music.apple.com/jp/artist/1644722048",
    text: "Apple Music",
  },
  {
    icon: "fa6-brands:spotify",
    href: "https://open.spotify.com/intl-ja/artist/2zV2y9I27BhYMCV5FMkxg3",
    text: "Spotify",
  },
  {
    icon: "fa6-brands:amazon",
    href: "https://music.amazon.co.jp/artists/B0BF29P9HT",
    text: "Amazon Music",
  },
];
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>works - hiroto kanzaki</title>
  </head>
  <body>
    <Loading />
    <Header />
    <h1 class="my-10 font-serif text-xl text-center text-zinc-600">works</h1>
    <main class="space-y-14">
      <article class="mx-auto w-fit px-10">
        <a
          href="https://youtu.be/fbxSF_A7pCw"
          class="hover:opacity-80 hover:underline decoration-zinc-600/80"
        >
          <div class="flex gap-2">
            <div class="w-1/2 md:max-w-80">
              <img src="/hitominosakini-1.webp" />
            </div>
            <div class="w-1/2 md:max-w-80">
              <img src="/hitominosakini-2.webp" />
            </div>
          </div>
          <p class="my-5 font-serif text-center text-sm text-zinc-600">
            瞳の先に
          </p>
        </a>
      </article>
      <article class="mx-auto w-fit px-10">
        <a
          href="https://youtu.be/BwrcKP5HUT4"
          class="hover:opacity-80 hover:underline decoration-zinc-600/80"
        >
          <div class="flex gap-2">
            <div class="w-full md:max-w-160">
              <img src="/utatane.webp" />
            </div>
          </div>
          <p class="my-5 font-serif text-center text-sm text-zinc-600">
            うたたね
          </p>
        </a>
      </article>
      <article class="mx-auto w-fit px-10">
        <a
          href="https://youtu.be/XHCkPFfkTdc"
          class="hover:opacity-80 hover:underline decoration-zinc-600/80"
        >
          <div class="flex gap-2">
            <div class="w-full md:max-w-160">
              <img src="/yumehanabi.webp" />
            </div>
          </div>
          <p class="my-5 font-serif text-center text-sm text-zinc-600">
            夢花火
          </p>
        </a>
      </article>
    </main>
    <div class="my-20 mx-auto text-center">
      <h2 class="text-zinc-500 font-serif my-10 text-sm">
        and more, listen on...
      </h2>
      <div
        class="mx-auto flex justify-between gap-4 max-w-fit flex-col sm:max-w-100 sm:flex-row"
      >
        {
          subs.map((s) => (
            <div>
              <a
                href={s.href}
                class="text-zinc-600 hover:text-zinc-300 flex items-center gap-2"
              >
                <Icon class="text-2xl" name={s.icon} />
                <span class="text-sm">{s.text}</span>
              </a>
            </div>
          ))
        }
      </div>
    </div>
    <Footer />
  </body>
</html>
